* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #CBC9CF;
}

.wrapper {
    background-color: #2B2733;
    display: flex;
    height: 800px;
}

header {
    background-color: #46424D;
    text-align: center;
    padding: 1em;
}

.newActWrapper {
    width: 60%;
}

.newActTitle {
    margin: .5em 1em;
}

main {
    background-color: #46424D;
    margin-left: 2em; 
    padding-top: 1em;
    border-radius: 5px;
    height: 550px;
}

.activityWrapper {
    display: flex;
}

.selectAct {
    margin: 10px 0 5px 48px;
}

.actBox {
    width: 15em;
    border: 2px #CBC9CF solid;
    border-radius: 5px;
    padding: 1em 4em;
    margin: 2em;
    margin-top: 1em;
    text-align: center;
}

.studyBox:hover {
    border-color:#B3FD78;  
}

.chillBox:hover {
    border-color: #C278FD;
}

.exerciseBox:hover {
    border-color: #FD8078;
}


.actIcon {
    width: 4em;
}

.likeToDo {
    margin-left: 1.3em;
}

.accomplishment {
    -webkit-appearance: none;
    background-color: #46424D;
    border: none;
    border-bottom: 2px solid white;
    width: 92%;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1em;
}

.timeWrapper {
    display: flex;
    margin-left: 2em;
    margin-top: 3em;
}

.minutesInput, .secondsInput {
    -webkit-appearance: none;
    width: 20.15em;
    background-color: #46424D;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1em;
    margin-top: 1.75em;
}

.minutesInput {
    margin-right: 7.7em;
}

.start {
    position: relative;
    left: 67%;
    font-size: 1.5em;
    color: #46424D;
    border-radius: 5px;
    margin-top: 1.7em;
    padding: 5px 40px;
}

.pastTitle {
    margin: .5em 1em;
}

.pastActs {
    margin-left: 2em;
    border-left: 1px solid white;
}

p {
    margin-left: 2em;
    width: 90%;
}